# Python
.venv/
__pycache__

# Data directories
**/data/**/*.json
**/data/**/*.csv
**/data/**/*.svg
**/data/**/*.png
**/data/**/*.jpeg
**/data/**/*.jpg
!simulation/data/*

# Visualizations
viz/**/*.png
viz/**/*.jpeg
viz/**/*.jpg
viz/**/*.svg

# Configuration
squirrel.ini

# Artifacts
schedule.csv
